header{
    background:rgb(0, 204, 255);
    border: 5px solid rgb(60, 255, 0);
    width:100%;
    height:106px;
}
.in_top{
    float: left;
    display: block;
    width: 300px;
    margin: 2px;
}
#ico{
    width: 100px;
}
#list_in_the_top{
    width: 600px;
    height:100px;
}
#sing_in{
    width: 70px;
}
#stick{
    width: 4px;
}
#sing_up{
    width: 140px;
}

footer{
    background:rgb(235, 176, 109);
    border: 5px dotted rgb(17, 0, 255);
    width:100%;
    height:106px;
    position: absolute;
    left: 0;
	bottom: 0;
}
.in_d{
    float: left;
    display: block;
    width: 300px;
    margin: 2px;
}